<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test118/src/com/sxt/hadoop/mr/tfidf/TwoJob.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sxt.hadoop.mr.tfidf.TwoJob"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Test118"/>
</launchConfiguration>
